<h2>Edit Passenger</h2>
<% if @passenger.is_deactivated != true %>
<%= render partial: "form", locals: { page_title: "Edit #{@passenger.name}" } %>
<% else %>

Passenger <%= @passenger.id %>  has been deactivated.

<% end %>
